{{ define "content" }}

    <div class="heading-line">
        <img src="/avatar.jpg" width="175" height="175">
        <span> &nbsp;&nbsp;&nbsp; </span>
        <h5>
        I am a postoctoral fellow at the Carnegie Theoretical Astrophysics Center (CTAC) at the Carnegie Observatories. I use MHD simulations to study the explosion mechanism of core-collapse supernovae and the evolution of magnetocentrigugal winds, particularly those of newly born, highly magnetized neutron stars.
        </h5>
    </div>
    
{{ end }}
